.vscode/
.DS_Store

# Ignore all DLCs except dpr_main and dpr_light
mods/*
!/mods/dpr_main/
!/mods/dpr_light/

build/
output/

*.tiled-session

DarkPlaceREBIRTH.lnk
open.bat

# Ignore aseprite files
*.ase
*.aseprite

# desktop.ini files
*.ini
Kristal.bat

.zed/

docs.json
Start.bat
Dark Place REBIRTH.lnk
